.container {
	width: 340px;
	max-height: 800px;
	padding: 10px 0;
	background-color: #252525;
	overflow-x: hidden;
	overflow-y: auto;
}

.alarm-row {
	height: 330px;
	padding: 10px;
	text-align: center;
	-webkit-animation: pulse 1s linear infinite;
}

.icon {
	height: 100px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/bell.png');
	-webkit-animation: ring 4s linear infinite;
	-webkit-transform-origin: 50% 9px;
}

.time {
	height: 45px;
	font-size: 36px;
}

.timezone {
	height: 40px;
	font-size: 32px;
}

.snooze {
	height: 68px;
	border:1px solid #7eb9d0;
	border-radius: 3px;
	font-size: 50px;
	font-weight:bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background-color: #a7cfdf;
	background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
	opacity: 1;
	cursor: pointer;
}

.snooze:hover, .snooze.hovered {
	border:1px solid #5ca6c4;
	background-color: #82bbd1;
	background-image: linear-gradient(to bottom, #82bbd1, #193b61);
}

.dismiss {
	height: 68px;
	margin-top: 5px;
	border:1px solid #ff6262;
	border-radius: 3px;
	font-size: 50px;
	font-weight:bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background-color: #ff9a9a;
	background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
	opacity: 1;
	cursor: pointer;
}

.dismiss:hover, .dismiss.hovered {
	border:1px solid #ff3434;
	background-color: #ff6767;
	background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.05, 1.05);
	}
	100% {
		-webkit-transform: scale(1, 1);
	}
}

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(0);
	}
	4% {
		-webkit-transform: rotate(30deg);
	}
	8% {
		-webkit-transform: rotate(-28deg);
	}
	12% {
		-webkit-transform: rotate(34deg);
	}
	16% {
		-webkit-transform: rotate(-32deg);
	}
	20% {
		-webkit-transform: rotate(30deg);
	}
	24% {
		-webkit-transform: rotate(-28deg);
	}
	28% {
		-webkit-transform: rotate(26deg);
	}
	32% {
		-webkit-transform: rotate(-24deg);
	}
	36% {
		-webkit-transform: rotate(22deg);
	}
	40% {
		-webkit-transform: rotate(-20deg);
	}
	44% {
		-webkit-transform: rotate(18deg);
	}
	48% {
		-webkit-transform: rotate(-16deg);
	}
	52% {
		-webkit-transform: rotate(14deg);
	}
	56% {
		-webkit-transform: rotate(-12deg);
	}
	60% {
		-webkit-transform: rotate(10deg);
	}
	64% {
		-webkit-transform: rotate(-8deg);
	}
	68% {
		-webkit-transform: rotate(6deg);
	}
	72% {
		-webkit-transform: rotate(-4deg);
	}
	76% {
		-webkit-transform: rotate(2deg);
	}
	80% {
		-webkit-transform: rotate(-1deg);
	}
	84% {
		-webkit-transform: rotate(1deg);
	}
	88% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(0);
	}
}
