@font-face{
	font-family: 'PtSerif';
	src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTF55F-webfont.woff') format('woff'),
		 url('../fonts/PTF55F-webfont.ttf')  format('truetype'),
		 url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
}

body {
	margin: 0;
	color: #f8f8f8;
	font-family: PtSerif;
	font-size: 12px;
	overflow: hidden;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="text"] {
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	background: none;
	color: #f8f8f8;
	font-family: PtSerif;
	font-size: 16px;
	text-indent: 2px;
}

input[type=text]:focus {
	border-color: #7d7d7d;
	outline: none;
}

input[type="text"].input-error {
	color: #d00000;
}

input[type=text].input-error:focus {
	border-color: #d00000;
}

input[type="checkbox"] {
	height: 14px;
	width: 14px;
	margin: 3px;
	vertical-align: bottom;
}
