.ui-datepicker {
	font-family: PtSerif;
	z-index: 5 !important;
}

.ui-datepicker-trigger {
	display: inline-block;
	opacity: 0.2;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/alarm.png');
	vertical-align: middle;
	cursor: pointer;
}

.ui-datepicker-trigger:hover {
	opacity: 1;
}

.ui-datepicker-trigger.alarm-set {
	opacity: 1;
	background-image: url('../img/alarm_set.png');
}

.ui-autocomplete.ui-menu {
	max-height: 8em;
	background-color: #252525;
	color: #f8f8f8;
	border: 1px solid #7d7d7d;
	border-radius: 4px;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ui-menu-item.ui-state-focus {
	background-color: #f8f8f8;
	color: #252525;
	border: 1px solid #7d7d7d;
	border-radius: 4px;
}

.wrapper {
	padding-right: 50px;
	padding-bottom: 50px;
	background: rgba(0, 0, 0, 0.01);
}

.container {
	width: 340px;
	max-height: 800px;
	padding: 10px 0;
	background-color: #252525;
	overflow-x: hidden;
	overflow-y: auto;
}

.header {
	height: 20px;
	padding: 0 10px 10px 10px;
	overflow: hidden;
}

.switcher {
	display: inline-block;
	height: 18px;
	margin-left: 90px;
	margin-right: 95px;
	border: 1px solid #7d7d7d;
	border-radius: 4px;
	background-color: #252525;
	font-size: 14px;
	vertical-align: bottom;
	overflow: hidden;
}

.switcher-button {
	display: inline-block;
	width: 16px;
	padding: 0 10px;
	border-right: 1px solid #7d7d7d;
	cursor: pointer;
}

.switcher-button:last-child {
	border-right: none;
}

.switcher-button-active {
	background-color: #f8f8f8;
	color: #252525;
	background-image: linear-gradient(rgb(166,166,166) 0%, rgb(217,217,217) 100%);
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.header-icon {
	display: inline-block;
	height: 20px;
	width: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	cursor: pointer;
}

.minimize {
	background-image: url('../img/minimize.png');
}

.close {
	background-image: url('../img/close.png');
}

.add-row {
	height: 140px;
	width: 320px;
	margin: 10px 10px 0 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/add.png');
	box-shadow: 0 0 10px #4682b4;
	cursor: pointer;
}

.add-row:hover {
	box-shadow: 0 0 10px #6495ed;
}

.clock-row {
	height: 90px;
	padding: 5px 10px;
	overflow: hidden;
}

.timezone {
	display: inline-block;
	height: 20px;
	width: 258px;
	vertical-align: middle;
}

.alarm {
	display: none;
}

.remove-row {
	display: inline-block;
	height: 22px;
	width: 30px;
	opacity: 0.2;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/close.png');
	vertical-align: middle;
	cursor: pointer;
}

.remove-row:hover {
	opacity: 1;
}

.clock-error {
	opacity: 0.2;
}
